* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background-color: #FFDDF8;
}

.main-container {
    color: #f50057;
    padding: 20px;
    margin: auto;
    max-width: 450px;
}

input {
    margin: 20px;
    padding: 10px;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}

.task-item {
    color: #f50057;
    margin: 20px auto;
    padding: 10px;
    max-width: 450px;
    box-shadow: 2px 2px 2px 2px #f50057;
}

.Button {
    margin: 10px;
    color: #AD04AA;
}